# Database settings
DB__HOST=localhost
DB__PORT=5432
DB__NAME=flask_shop
DB__USER=postgres
DB__PASSWORD=password

# PgAdmin settings
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050

# Application settings
PORT=5555
DEBUG=False
DATA_LOAD_INTERVAL=60 