# ---------- app ----------
DEBUG=True
HOST="0.0.0.0"
BASE_URL=http://localhost:8000
PORT=5555
CORS_ORIGINS=["*"]
TEST=0

# ---------- api ----------
BASE_API="https://bot-igor.ru/api/products"

# ---------- postgres ----------
DB__PROVIDER=postgresql
DB__HOST=postgres
DB__PORT=
DB__USER=
DB__PASSWORD=
DB__NAME=
DB__INTERVAL_UPLOAD=1


# ---------- test postgres -----
TEST_DB__TEST_PROVIDER=postgresql
TEST_DB__TEST_HOST=postgres
TEST_DB__TEST_PORT=
TEST_DB__TEST_USER=
TEST_DB__TEST_PASSWORD=
TEST_DB__TEST_NAME=

# ---------- pgadmin ----------
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_PORT=81
